             /* палитра */
 /* основний колір тексту #434455 */

 /* вторинний колір текста #2E2F42 */

 /* "Accent"#4D5AE5 */

  :root {
    --primary-text-color:#434455;
    --title-text-color:#2E2F42;
    --accent-color: #4D5AE5;
  }
 body 
 {
background: #FFFFFF ;
color: var(--primary-text-color);
font-family: Roboto, sans-serif;
letter-spacing: 0.02em;
}
p {
    font-size: 16px;
line-height: 1.5;
}
.list {
list-style: none;
}
/* шапка сайта */
.logo {
    color:  var(--accent-color);
    text-decoration: none
}
.logo-head {
    color: var(--primary-text-color);
}
.logo {
font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 1.33;
/* identical to box height, or 133% */

letter-spacing: 0.03em;
text-transform: uppercase;
}
 /* навигация сайту */
.site-nav {
color: var(--primary-text-color);
font-weight: 600;
font-size: 16px;
line-height: 1.5;
}

.nav-link:hover,
.nav-link:focus {
color: var(--accent-color);
}
.nav-link {
text-decoration: none;
}


.nav-link:active {
    color: #31D0AA;
}
.active-portfolio {
    color: var(--accent-color);
}
.active-studio {
    color: var(--accent-color); 
}
/* контакти */
.contact {
    color: var(--primary-text-color);
    text-decoration: none;
}
/* hover */
.contact:hover,
.contact:focus {
    color: var(--accent-color);
}
/* active */
.contact:active {
    color: #31D0AA;
}
/* "Main" сайта */

/* Секция герой 1 */
.section-hero {
    background-color: var(--primary-text-color);

    text-align: center;
}
.hero {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07;
}

.button.secondary {
color:#FFFFFF;
background-color: var(--accent-color);

}
.section-hero>.button-primary {
background-color: #E7E9FC;
color: var(--accent-color);
font-weight: 600;
font-size: 16px;
line-height: 1.19;
}
.button-primary {
    background-color: #E7E9FC;
    color: var(--accent-color);
 font-weight: 600;
font-size: 16px;
line-height: 1.5;


}
.button-primary:hover,
.button-primary:focus {
color:#FFFFFF;
background-color: var(--accent-color);
}
button {
    cursor: pointer;
}

/* ceкции 1,2,3,4 */
.section {
    color: var(--title-text-color);
font-weight: 600;
font-size: 20px;
line-height: 1.2;
}
.section-four {
    background-color: #E7E9FC;
}
.section-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
}
/* footer сайта */ 
.section-footer {
background-color: var(--primary-text-color);
}
/* logo */
.logo {
    color:  var(--accent-color);
}
.logo-footer {
    color: #F4F4FD;
}
.footer-title {
 color:#E7E9FC ;  
 font-size: 16px;
line-height: 1.5; 
}
